PlannerFlows_1_0_0_3/Workflows/1PLANNER-Pilot-BugTest-UpdateTaskCustomFieldQuery--9D59A695-09BB-F011-BBD3-7C1E5234EF55.json
{
  "properties": {
    "connectionReferences": {
      "shared_projectonline": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "paloma_sharedprojectonline_2805b"
        },
        "api": {
          "name": "shared_projectonline"
        }
      },
      "shared_visualstudioteamservices": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "paloma_sharedvisualstudioteamservices_df734"
        },
        "api": {
          "name": "shared_visualstudioteamservices"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "paloma_sharedsharepointonline_8e59f"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "f8982878-6685-4b21-935f-d17e7451bdee"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Checkin_and_publish_project": {
          "runAfter": {
            "Apply_to_each_3": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c5729afa-8536-46ec-b2ff-09c08adcf509"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "siteUrl": "@variables('vProjectURL')",
              "project_id": "@variables('ProjectID')"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_projectonline",
              "connectionName": "shared_projectonline",
              "operationId": "PublishProject"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        },
        "Get_query_results": {
          "runAfter": {
            "Initialize_variable_4": [
              "Succeeded"
            ]
          },
          "metadata": {
            "0a27cd4f-3559-406d-8319-cc8062711c34": "My Queries/Pre-load validation AP",
            "operationMetadataId": "fcfa4d74-e9f8-4634-844b-0db5c7fcbfb1",
            "6f976a5f-3868-4c79-bae8-149fa30a47e2": "My Queries/Data Validation AP",
            "4f41053e-8d67-4383-b9c3-95d332ab5c59": "My Queries/AP - W0 Mock 1 - 01a Financial Accounting",
            "a2c51f7c-0be6-4610-8e0d-b74069cf3c75": "My Queries/AP - W1 Mock 1 - 01a Financial Accounting - BUG"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "account": "basf4AP",
              "project": "WP2-3 - PH Design-IT Setup",
              "queryId": "a2c51f7c-0be6-4610-8e0d-b74069cf3c75"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_visualstudioteamservices",
              "connectionName": "shared_visualstudioteamservices",
              "operationId": "GetQueryResultsV2"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "6ac427ed-8b16-458f-beaf-5da446429e04"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "vProjectURL",
                "type": "string",
                "value": "https://basf.sharepoint.com/sites/gb-project-management"
              }
            ]
          }
        },
        "Initialize_variable_2": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c230c88d-843a-4bf3-b28d-c94fa474f6fa"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ProjectID",
                "type": "string",
                "value": "ee1f90b5-7077-f011-b51c-00155d18fa27"
              }
            ]
          }
        },
        "Checkout_project_2": {
          "runAfter": {
            "Delay": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "22fe870b-0a54-4f62-bd50-3511cf3a8854"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "siteUrl": "@variables('vProjectURL')",
              "project_id": "@variables('ProjectID')"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_projectonline",
              "connectionName": "shared_projectonline",
              "operationId": "CheckoutProject"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        },
        "Checkin_and_publish_project_2": {
          "runAfter": {
            "Apply_to_each_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c5729afa-8536-46ec-b2ff-09c08adcf509"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "siteUrl": "@variables('vProjectURL')",
              "project_id": "@variables('ProjectID')"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_projectonline",
              "connectionName": "shared_projectonline",
              "operationId": "PublishProject"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        },
        "Initialize_variable_3": {
          "runAfter": {
            "Initialize_variable_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bdb26ed7-79fe-4f83-be75-711857430ed4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "NewDataArray",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_variable_4": {
          "runAfter": {
            "Initialize_variable_3": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "989d7745-64d5-43f3-86a1-59bf3756d3ce"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ADOID",
                "type": "string"
              }
            ]
          }
        },
        "Checkout_project": {
          "runAfter": {
            "Get_query_results": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "22fe870b-0a54-4f62-bd50-3511cf3a8854"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "siteUrl": "@variables('vProjectURL')",
              "project_id": "@variables('ProjectID')"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_projectonline",
              "connectionName": "shared_projectonline",
              "operationId": "CheckoutProject"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        },
        "Delay": {
          "runAfter": {
            "Checkin_and_publish_project": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "52f90707-d0a6-47ab-a4c1-c1ea6cba00e6"
          },
          "type": "Wait",
          "inputs": {
            "interval": {
              "count": 1,
              "unit": "Minute"
            }
          }
        },
        "Apply_to_each_2": {
          "foreach": "@variables('NewDataArray')",
          "actions": {
            "Send_an_HTTP_request_to_Update_ADO_ID": {
              "metadata": {
                "operationMetadataId": "3e62dd99-bdaf-4854-8a88-6486c84af8d9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "@variables('vProjectURL')",
                  "parameters/method": "POST",
                  "parameters/uri": "_vti_bin/client.svc/ProcessQuery\n",
                  "parameters/headers": {
                    "Accept": "application/json;odata=verbose",
                    "Content-Type": "text/xml"
                  },
                  "parameters/body": "<?xml version=\"1.0\" ?>\n <Request ApplicationName=\"Javascript Library\" LibraryVersion=\"16.0.0.0\" SchemaVersion=\"15.0.0.0\" xmlns=\"http://schemas.microsoft.com/sharepoint/clientquery/2009\">\n <Actions>\n <Method Id=\"14\" Name=\"SetCustomFieldValue\" ObjectPathId=\"12\">\n <Parameters>\n <Parameter Type=\"String\">Custom_0acc17a8-b52c-f011-8192-00155d18dd04</Parameter> \n <Parameter Type=\"String\">@{items('Apply_to_each_2')?['ADO_ID']}</Parameter>\n\n </Parameters>\n </Method>\n <ObjectPath Id=\"16\" ObjectPathId=\"15\"/>\n <Query Id=\"17\" ObjectPathId=\"15\">\n <Query SelectAllProperties=\"true\">\n <Properties/>\n </Query>\n </Query>\n </Actions>\n <ObjectPaths>\n <Constructor Id=\"0\" TypeId=\"{3a609e5f-e2a1-497c-87a2-e5e8a781c096}\"/>\n <Constructor Id=\"2\" TypeId=\"{f256f605-bb33-4d62-b206-72a06a765075}\">\n <Parameters>\n <Parameter ObjectPathId=\"0\"/>\n </Parameters>\n </Constructor>\n <Property Id=\"4\" Name=\"Projects\" ParentId=\"0\"/>\n <Method Id=\"6\" Name=\"GetByGuid\" ParentId=\"4\">\n <Parameters>\n <Parameter Type=\"String\">@{variables('ProjectID')}</Parameter>\n </Parameters>\n </Method>\n <Property Id=\"8\" Name=\"Draft\" ParentId=\"6\"/>\n <Property Id=\"10\" Name=\"Tasks\" ParentId=\"8\"/>\n <Method Id=\"12\" Name=\"GetByGuid\" ParentId=\"10\">\n <Parameters>\n <Parameter Type=\"String\">@{items('Apply_to_each_2')?['TaskID']}</Parameter>\n </Parameters>\n </Method>\n <Method Id=\"15\" Name=\"Update\" ParentId=\"8\"/>\n </ObjectPaths>\n</Request>"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "connectionName": "shared_sharepointonline",
                  "operationId": "HttpRequest"
                },
                "authentication": {
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                  "type": "Raw"
                }
              }
            },
            "Send_an_HTTP_request_to_UpdateADO_Iteration": {
              "runAfter": {
                "Send_an_HTTP_request_to_Update_ADO_ID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3e62dd99-bdaf-4854-8a88-6486c84af8d9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "@variables('vProjectURL')",
                  "parameters/method": "POST",
                  "parameters/uri": "_vti_bin/client.svc/ProcessQuery\n",
                  "parameters/headers": {
                    "Accept": "application/json;odata=verbose",
                    "Content-Type": "text/xml"
                  },
                  "parameters/body": "<?xml version=\"1.0\" ?>\n <Request ApplicationName=\"Javascript Library\" LibraryVersion=\"16.0.0.0\" SchemaVersion=\"15.0.0.0\" xmlns=\"http://schemas.microsoft.com/sharepoint/clientquery/2009\">\n <Actions>\n <Method Id=\"14\" Name=\"SetCustomFieldValue\" ObjectPathId=\"12\">\n <Parameters>\n <Parameter Type=\"String\">Custom_795db4f5-b52c-f011-8196-00155d187310</Parameter> \n <Parameter Type=\"String\">@{items('Apply_to_each_2')?['ADO_Iteration']}</Parameter>\n\n </Parameters>\n </Method>\n <ObjectPath Id=\"16\" ObjectPathId=\"15\"/>\n <Query Id=\"17\" ObjectPathId=\"15\">\n <Query SelectAllProperties=\"true\">\n <Properties/>\n </Query>\n </Query>\n </Actions>\n <ObjectPaths>\n <Constructor Id=\"0\" TypeId=\"{3a609e5f-e2a1-497c-87a2-e5e8a781c096}\"/>\n <Constructor Id=\"2\" TypeId=\"{f256f605-bb33-4d62-b206-72a06a765075}\">\n <Parameters>\n <Parameter ObjectPathId=\"0\"/>\n </Parameters>\n </Constructor>\n <Property Id=\"4\" Name=\"Projects\" ParentId=\"0\"/>\n <Method Id=\"6\" Name=\"GetByGuid\" ParentId=\"4\">\n <Parameters>\n <Parameter Type=\"String\">@{variables('ProjectID')}</Parameter>\n </Parameters>\n </Method>\n <Property Id=\"8\" Name=\"Draft\" ParentId=\"6\"/>\n <Property Id=\"10\" Name=\"Tasks\" ParentId=\"8\"/>\n <Method Id=\"12\" Name=\"GetByGuid\" ParentId=\"10\">\n <Parameters>\n <Parameter Type=\"String\">@{items('Apply_to_each_2')?['TaskID']}</Parameter>\n </Parameters>\n </Method>\n <Method Id=\"15\" Name=\"Update\" ParentId=\"8\"/>\n </ObjectPaths>\n</Request>"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "connectionName": "shared_sharepointonline",
                  "operationId": "HttpRequest"
                },
                "authentication": {
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                  "type": "Raw"
                }
              }
            },
            "Send_an_HTTP_request_to_Update_ADO_Area": {
              "runAfter": {
                "Send_an_HTTP_request_to_UpdateADO_Iteration": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3e62dd99-bdaf-4854-8a88-6486c84af8d9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "@variables('vProjectURL')",
                  "parameters/method": "POST",
                  "parameters/uri": "_vti_bin/client.svc/ProcessQuery\n",
                  "parameters/headers": {
                    "Accept": "application/json;odata=verbose",
                    "Content-Type": "text/xml"
                  },
                  "parameters/body": "<?xml version=\"1.0\" ?>\n <Request ApplicationName=\"Javascript Library\" LibraryVersion=\"16.0.0.0\" SchemaVersion=\"15.0.0.0\" xmlns=\"http://schemas.microsoft.com/sharepoint/clientquery/2009\">\n <Actions>\n <Method Id=\"14\" Name=\"SetCustomFieldValue\" ObjectPathId=\"12\">\n <Parameters>\n <Parameter Type=\"String\">Custom_cf61eeff-b52c-f011-8197-00155d183b0b</Parameter> \n <Parameter Type=\"String\">@{items('Apply_to_each_2')?['ADO_Area']}</Parameter>\n\n </Parameters>\n </Method>\n <ObjectPath Id=\"16\" ObjectPathId=\"15\"/>\n <Query Id=\"17\" ObjectPathId=\"15\">\n <Query SelectAllProperties=\"true\">\n <Properties/>\n </Query>\n </Query>\n </Actions>\n <ObjectPaths>\n <Constructor Id=\"0\" TypeId=\"{3a609e5f-e2a1-497c-87a2-e5e8a781c096}\"/>\n <Constructor Id=\"2\" TypeId=\"{f256f605-bb33-4d62-b206-72a06a765075}\">\n <Parameters>\n <Parameter ObjectPathId=\"0\"/>\n </Parameters>\n </Constructor>\n <Property Id=\"4\" Name=\"Projects\" ParentId=\"0\"/>\n <Method Id=\"6\" Name=\"GetByGuid\" ParentId=\"4\">\n <Parameters>\n <Parameter Type=\"String\">@{variables('ProjectID')}</Parameter>\n </Parameters>\n </Method>\n <Property Id=\"8\" Name=\"Draft\" ParentId=\"6\"/>\n <Property Id=\"10\" Name=\"Tasks\" ParentId=\"8\"/>\n <Method Id=\"12\" Name=\"GetByGuid\" ParentId=\"10\">\n <Parameters>\n <Parameter Type=\"String\">@{items('Apply_to_each_2')?['TaskID']}</Parameter>\n </Parameters>\n </Method>\n <Method Id=\"15\" Name=\"Update\" ParentId=\"8\"/>\n </ObjectPaths>\n</Request>"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "connectionName": "shared_sharepointonline",
                  "operationId": "HttpRequest"
                },
                "authentication": {
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                  "type": "Raw"
                }
              }
            },
            "Send_an_HTTP_request_to_Update_State": {
              "runAfter": {
                "Send_an_HTTP_request_to_Update_ADO_Defect_Priority": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3e62dd99-bdaf-4854-8a88-6486c84af8d9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "@variables('vProjectURL')",
                  "parameters/method": "POST",
                  "parameters/uri": "_vti_bin/client.svc/ProcessQuery\n",
                  "parameters/headers": {
                    "Accept": "application/json;odata=verbose",
                    "Content-Type": "text/xml"
                  },
                  "parameters/body": "<?xml version=\"1.0\" ?>\n <Request ApplicationName=\"Javascript Library\" LibraryVersion=\"16.0.0.0\" SchemaVersion=\"15.0.0.0\" xmlns=\"http://schemas.microsoft.com/sharepoint/clientquery/2009\">\n <Actions>\n <Method Id=\"14\" Name=\"SetCustomFieldValue\" ObjectPathId=\"12\">\n <Parameters>\n <Parameter Type=\"String\">Custom_8a1194bc-b52c-f011-8197-00155d185d16</Parameter> \n <Parameter Type=\"String\">@{items('Apply_to_each_2')?['ADO_State']}</Parameter>\n\n </Parameters>\n </Method>\n <ObjectPath Id=\"16\" ObjectPathId=\"15\"/>\n <Query Id=\"17\" ObjectPathId=\"15\">\n <Query SelectAllProperties=\"true\">\n <Properties/>\n </Query>\n </Query>\n </Actions>\n <ObjectPaths>\n <Constructor Id=\"0\" TypeId=\"{3a609e5f-e2a1-497c-87a2-e5e8a781c096}\"/>\n <Constructor Id=\"2\" TypeId=\"{f256f605-bb33-4d62-b206-72a06a765075}\">\n <Parameters>\n <Parameter ObjectPathId=\"0\"/>\n </Parameters>\n </Constructor>\n <Property Id=\"4\" Name=\"Projects\" ParentId=\"0\"/>\n <Method Id=\"6\" Name=\"GetByGuid\" ParentId=\"4\">\n <Parameters>\n <Parameter Type=\"String\">@{variables('ProjectID')}</Parameter>\n </Parameters>\n </Method>\n <Property Id=\"8\" Name=\"Draft\" ParentId=\"6\"/>\n <Property Id=\"10\" Name=\"Tasks\" ParentId=\"8\"/>\n <Method Id=\"12\" Name=\"GetByGuid\" ParentId=\"10\">\n <Parameters>\n <Parameter Type=\"String\">@{items('Apply_to_each_2')?['TaskID']}</Parameter>\n </Parameters>\n </Method>\n <Method Id=\"15\" Name=\"Update\" ParentId=\"8\"/>\n </ObjectPaths>\n</Request>"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "connectionName": "shared_sharepointonline",
                  "operationId": "HttpRequest"
                },
                "authentication": {
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                  "type": "Raw"
                }
              }
            },
            "Send_an_HTTP_request_to_Update_ADO_Defect_Priority": {
              "runAfter": {
                "Send_an_HTTP_request_to_Update_ADO_Area": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3e62dd99-bdaf-4854-8a88-6486c84af8d9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "@variables('vProjectURL')",
                  "parameters/method": "POST",
                  "parameters/uri": "_vti_bin/client.svc/ProcessQuery\n",
                  "parameters/headers": {
                    "Accept": "application/json;odata=verbose",
                    "Content-Type": "text/xml"
                  },
                  "parameters/body": "<?xml version=\"1.0\" ?>\n <Request ApplicationName=\"Javascript Library\" LibraryVersion=\"16.0.0.0\" SchemaVersion=\"15.0.0.0\" xmlns=\"http://schemas.microsoft.com/sharepoint/clientquery/2009\">\n <Actions>\n <Method Id=\"14\" Name=\"SetCustomFieldValue\" ObjectPathId=\"12\">\n <Parameters>\n <Parameter Type=\"String\">Custom_4f6cdf29-4078-f011-b51f-00155d18d020</Parameter> \n <Parameter Type=\"String\">@{items('Apply_to_each_2')?['ADO_Defect_Priority']}</Parameter>\n\n </Parameters>\n </Method>\n <ObjectPath Id=\"16\" ObjectPathId=\"15\"/>\n <Query Id=\"17\" ObjectPathId=\"15\">\n <Query SelectAllProperties=\"true\">\n <Properties/>\n </Query>\n </Query>\n </Actions>\n <ObjectPaths>\n <Constructor Id=\"0\" TypeId=\"{3a609e5f-e2a1-497c-87a2-e5e8a781c096}\"/>\n <Constructor Id=\"2\" TypeId=\"{f256f605-bb33-4d62-b206-72a06a765075}\">\n <Parameters>\n <Parameter ObjectPathId=\"0\"/>\n </Parameters>\n </Constructor>\n <Property Id=\"4\" Name=\"Projects\" ParentId=\"0\"/>\n <Method Id=\"6\" Name=\"GetByGuid\" ParentId=\"4\">\n <Parameters>\n <Parameter Type=\"String\">@{variables('ProjectID')}</Parameter>\n </Parameters>\n </Method>\n <Property Id=\"8\" Name=\"Draft\" ParentId=\"6\"/>\n <Property Id=\"10\" Name=\"Tasks\" ParentId=\"8\"/>\n <Method Id=\"12\" Name=\"GetByGuid\" ParentId=\"10\">\n <Parameters>\n <Parameter Type=\"String\">@{items('Apply_to_each_2')?['TaskID']}</Parameter>\n </Parameters>\n </Method>\n <Method Id=\"15\" Name=\"Update\" ParentId=\"8\"/>\n </ObjectPaths>\n</Request>"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "connectionName": "shared_sharepointonline",
                  "operationId": "HttpRequest"
                },
                "authentication": {
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                  "type": "Raw"
                }
              }
            }
          },
          "runAfter": {
            "Checkout_project_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bd9813b2-c4e7-474f-a0dc-bcb9af249c70"
          },
          "type": "Foreach"
        },
        "Parse_JSON": {
          "runAfter": {
            "Checkout_project": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "faf0b5ba-f9e0-4fef-ac6b-33a15c0be379"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@outputs('Get_query_results')?['body/value']",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "System.Id": {
                    "type": "integer"
                  },
                  "System.AreaPath": {
                    "type": "string"
                  },
                  "System.IterationPath": {
                    "type": "string"
                  },
                  "System.WorkItemType": {
                    "type": "string"
                  },
                  "System.State": {
                    "type": "string"
                  },
                  "System.AssignedTo": {
                    "type": "string"
                  },
                  "System.Title": {
                    "type": "string"
                  },
                  "Custom.DefectPriority": {
                    "type": "string"
                  },
                  "System.Tags": {
                    "type": "string"
                  }
                },
                "required": [
                  "System.Id",
                  "System.AreaPath",
                  "System.IterationPath",
                  "System.WorkItemType",
                  "System.State",
                  "System.AssignedTo",
                  "System.Title",
                  "Custom.DefectPriority"
                ]
              }
            }
          }
        },
        "Apply_to_each_3": {
          "foreach": "@body('Parse_JSON')",
          "actions": {
            "Append_to_array_variable": {
              "runAfter": {
                "Parse_JSON_Created_Task": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "27c83e70-38b8-402b-ad2c-90c71b0a81a1"
              },
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "NewDataArray",
                "value": {
                  "TaskID": "@body('Parse_JSON_Created_Task')?['Id']",
                  "ADO_ID": "@items('Apply_to_each_3')['System.Id']",
                  "ADO_Iteration": "@items('Apply_to_each_3')['System.IterationPath']",
                  "ADO_Area": "@items('Apply_to_each_3')['System.AreaPath']",
                  "ADO_State": "@items('Apply_to_each_3')['System.State']",
                  "ADO_Defect_Priority": "@items('Apply_to_each_3')?['Custom.DefectPriority']"
                }
              }
            },
            "Send_an_HTTP_request_to_Create_the_Task-copy": {
              "metadata": {
                "operationMetadataId": "6edbce1a-af3a-4a66-b360-1efc1aded2a1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "@variables('vProjectURL')",
                  "parameters/method": "POST",
                  "parameters/uri": "_api/ProjectServer/Projects('@{variables('ProjectID')}')/Draft/Tasks/Add()",
                  "parameters/headers": {
                    "Accept": "application/json;odata=nometadata",
                    "Content-Type": "application/json"
                  },
                  "parameters/body": "{\n   \"parameters\":\n   {\n      \"Name\": \"@{items('Apply_to_each_3')['System.Title']}\"\n\n   }\n}\n\n"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "connectionName": "shared_sharepointonline",
                  "operationId": "HttpRequest"
                },
                "authentication": {
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                  "type": "Raw"
                }
              }
            },
            "Parse_JSON_Created_Task": {
              "runAfter": {
                "Send_an_HTTP_request_to_Create_the_Task-copy": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4c958046-7bd1-4818-a8d1-efe52fc6fbb8"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Send_an_HTTP_request_to_Create_the_Task-copy')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "ActualCostWorkPerformed": {
                      "type": "number"
                    },
                    "ActualDurationMilliseconds": {
                      "type": "number"
                    },
                    "ActualDurationTimeSpan": {
                      "type": "string"
                    },
                    "ActualOvertimeCost": {
                      "type": "number"
                    },
                    "ActualOvertimeWorkMilliseconds": {
                      "type": "number"
                    },
                    "ActualOvertimeWorkTimeSpan": {
                      "type": "string"
                    },
                    "BaselineCost": {
                      "type": "number"
                    },
                    "BaselineDurationMilliseconds": {
                      "type": "number"
                    },
                    "BaselineDurationTimeSpan": {
                      "type": "string"
                    },
                    "BaselineFinish": {
                      "type": "string"
                    },
                    "BaselineStart": {
                      "type": "string"
                    },
                    "BudgetCost": {
                      "type": "number"
                    },
                    "BudgetedCostWorkPerformed": {
                      "type": "number"
                    },
                    "BudgetedCostWorkScheduled": {
                      "type": "number"
                    },
                    "CostPerformanceIndex": {
                      "type": "number"
                    },
                    "CostVariance": {
                      "type": "number"
                    },
                    "CostVarianceAtCompletion": {
                      "type": "number"
                    },
                    "CostVariancePercentage": {
                      "type": "number"
                    },
                    "Created": {
                      "type": "string"
                    },
                    "EstimateAtCompletion": {
                      "type": "number"
                    },
                    "Id": {
                      "type": "string"
                    },
                    "Name": {
                      "type": "string"
                    },
                    "PercentComplete": {
                      "type": "number"
                    },
                    "Priority": {
                      "type": "number"
                    },
                    "ScheduledFinish": {
                      "type": "string"
                    },
                    "ScheduledStart": {
                      "type": "string"
                    },
                    "Start": {
                      "type": "string"
                    },
                    "Finish": {
                      "type": "string"
                    },
                    "ActualCost": {
                      "type": "number"
                    },
                    "ActualFinish": {
                      "type": "string"
                    },
                    "ActualStart": {
                      "type": "string"
                    },
                    "ActualWorkMilliseconds": {
                      "type": "number"
                    },
                    "ActualWorkTimeSpan": {
                      "type": "string"
                    },
                    "WorkMilliseconds": {
                      "type": "number"
                    },
                    "WorkTimeSpan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "Id",
                    "Name",
                    "Start",
                    "Finish"
                  ]
                }
              }
            }
          },
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9226a40d-2272-4681-be72-5e2c4b9d9b13"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}