PlannerFlows_1_0_0_3/Workflows/ChildFlow-PlannerTask-CreateUpdate-FFC9CF08-57FB-F011-8406-000D3AB2C546.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "d2d_sharedcommondataserviceforapps_5c6d9"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "ProjectID",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Please enter your input",
                  "title": "TaskTitle",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_2": {
                  "description": "Please enter your input",
                  "title": "BucketID",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_3": {
                  "description": "Please enter your input",
                  "title": "Start",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_4": {
                  "description": "Please enter your input",
                  "title": "End",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_5": {
                  "description": "Please enter your input",
                  "title": "TaskId",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "number": {
                  "description": "Please enter a number",
                  "title": "Outline",
                  "type": "number",
                  "x-ms-content-hint": "NUMBER",
                  "x-ms-dynamically-added": true
                },
                "text_6": {
                  "description": "Please enter your input",
                  "title": "ParentTaskId",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "number_1": {
                  "description": "Please enter a number",
                  "title": "Complete",
                  "type": "number",
                  "x-ms-content-hint": "NUMBER",
                  "x-ms-dynamically-added": true
                },
                "text_7": {
                  "description": "Please enter your input",
                  "title": "IsLeaf",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "f6aa49ea-e099-4a5d-9e5c-b9e1bdbfae38"
          }
        }
      },
      "actions": {
        "Call_CreateOperationSetV1": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "actionName": "msdyn_CreateOperationSetV1",
              "item/ProjectId": "@variables('projectID')",
              "item/Description": "OP set for test proj "
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "PerformUnboundAction",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "Compose__Start": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "52ca05c4-3907-42b2-b901-437cea041c1b"
          }
        },
        "OperationSetId": {
          "type": "Compose",
          "inputs": "@outputs('Call_CreateOperationSetV1')?['body/OperationSetId']",
          "runAfter": {
            "Call_CreateOperationSetV1": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a55ea7af-ade2-4c5d-b992-eee115d80a88"
          }
        },
        "Compose_at_odata_type": {
          "type": "Compose",
          "inputs": "@@odata.type",
          "runAfter": {
            "OperationSetId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9d258d92-ce15-47c2-aec9-4ba5772d8264"
          }
        },
        "Delay_-_Persist_to_Dataverse": {
          "type": "Wait",
          "description": "https://docs.microsoft.com/en-us/dynamics365/project-operations/project-management/project-schedule-api-performance",
          "inputs": {
            "interval": {
              "count": 40,
              "unit": "Second"
            }
          },
          "runAfter": {
            "Condition_1": [
              "Succeeded",
              "Skipped",
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "4c197eac-d4db-4329-9670-fba1f66c7338"
          }
        },
        "Get_OperationSet": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "msdyn_operationsets",
              "recordId": "@outputs('OperationSetId')"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "Delay_-_Persist_to_Dataverse": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7bb57697-64d7-4a4d-86af-2891d7c69cc6"
          }
        },
        "Did_OperationSet_succeed": {
          "type": "If",
          "expression": {
            "equals": [
              "@outputs('Get_OperationSet')?['body/msdyn_status']",
              192350003
            ]
          },
          "actions": {
            "PSS_has_persisted_changes_to_Dataverse": {
              "type": "Compose",
              "inputs": "PSS has persisted changes to Dataverse.",
              "metadata": {
                "operationMetadataId": "8d44b72e-13a5-4eb3-b8ec-c4cc6c19fb4c"
              }
            }
          },
          "else": {
            "actions": {
              "Terminate_as_Failed_for_failed_PSS_persist": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Failed",
                  "runError": {
                    "message": "Oops! Something went wrong!"
                  }
                },
                "metadata": {
                  "operationMetadataId": "a98e2235-712e-4569-8776-2c49b1f7bb2f"
                }
              }
            }
          },
          "runAfter": {
            "Get_OperationSet": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dfbb86bb-3e6c-41f8-8808-3290e1ca4642"
          }
        },
        "Initialize_variable": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "projectID",
                "type": "string",
                "value": "@triggerBody()?['text']"
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "63d5bdab-c71d-496b-9ffc-53f8a1cdd61a"
          }
        },
        "Respond_to_a_Power_App_or_flow": {
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "taskid": {
                  "title": "TaskID",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "taskid": "@{if(\r\n  empty(triggerBody()?['text_5']),\r\n  outputs('msdyn_projecttaskid_-_Subtask_1'),\r\n  triggerBody()?['text_5']\r\n)}"
            }
          },
          "runAfter": {
            "Did_OperationSet_succeed": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4950bb5f-c937-498b-8f57-311655c8a4bd"
          }
        },
        "Compose__Start": {
          "type": "Compose",
          "inputs": "@if( empty(triggerBody()?['text_3']),'',formatDateTime(triggerBody()?['text_3'], 'yyyy-MM-ddT07:00:00Z'))",
          "runAfter": {
            "Initialize_vTaskBody": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c110a08b-b764-4999-b82d-c15b1c891a21"
          }
        },
        "ComposeAddStart": {
          "type": "Compose",
          "inputs": "@if(\r\n  or(\r\n    empty(triggerBody()?['text_3']),\r\n    and(not(empty(triggerBody()?['text_5'])), not(equals(triggerBody()?['text_8'], 'true')))\r\n  ),\r\n  variables('varTaskBody'),\r\n  addProperty(\r\n    variables('varTaskBody'),\r\n    'msdyn_start',\r\n    formatDateTime(triggerBody()?['text_3'], 'yyyy-MM-ddT07:00:00Z')\r\n  )\r\n)",
          "runAfter": {
            "Condition": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "13c61316-b545-4ecd-ae9c-908ca47f0be7"
          }
        },
        "ComposeAddFinish": {
          "type": "Compose",
          "inputs": "@if(\r\n  or(empty(triggerBody()?['text_4']), not(empty(triggerBody()?['text_5']))),\r\n  outputs('ComposeAddStart'),\r\n  addProperty(\r\n    outputs('ComposeAddStart'),\r\n    'msdyn_finish',\r\n    formatDateTime(triggerBody()?['text_4'], 'yyyy-MM-ddT15:00:00Z')\r\n  )\r\n)",
          "runAfter": {
            "ComposeAddStart": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "45a13548-6e82-4e39-b4fb-889320b22d0f"
          }
        },
        "Condition": {
          "type": "If",
          "expression": {
            "and": [
              {
                "equals": [
                  "@empty(triggerBody()?['text_5'])",
                  true
                ]
              }
            ]
          },
          "actions": {
            "Set_variable": {
              "type": "SetVariable",
              "inputs": {
                "name": "varTaskBody",
                "value": "@outputs('ComposeBaseTaskCreate')"
              },
              "metadata": {
                "operationMetadataId": "f7676558-e00e-4c6b-8238-743aec047cd0"
              }
            }
          },
          "else": {
            "actions": {
              "Set_variable_1": {
                "type": "SetVariable",
                "inputs": {
                  "name": "varTaskBody",
                  "value": "@outputs('ComposeBaseTaskUpdate')"
                },
                "metadata": {
                  "operationMetadataId": "0e84595f-a405-4eea-a579-6c9359ba5b31"
                }
              }
            }
          },
          "runAfter": {
            "ComposeBaseTaskUpdate": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "da6068d8-33a4-43b6-8614-57420bae9ef4"
          }
        },
        "Initialize_vTaskBody": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varTaskBody",
                "type": "object",
                "value": {}
              }
            ]
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "63d5bdab-c71d-496b-9ffc-53f8a1cdd61a"
          }
        },
        "ComposeBaseTaskCreate": {
          "type": "Compose",
          "inputs": "@if(\r\n  empty(triggerBody()?['text_6']),\r\n  json(concat(\r\n    '{\"msdyn_subject\":\"', triggerBody()?['text_1'],\r\n    '\",\"msdyn_outlinelevel\":', string(triggerBody()?['number']),\r\n    ',\"msdyn_progress\":', string(triggerBody()?['number_1']),\r\n    ',\"', outputs('Compose_at_odata_type'), '\":\"Microsoft.Dynamics.CRM.msdyn_projecttask\"',\r\n    ',\"msdyn_project@odata.bind\":\"msdyn_projects(', variables('projectID'), ')\"',\r\n    ',\"msdyn_projectbucket@odata.bind\":\"msdyn_projectbuckets(', triggerBody()?['text_2'], ')\"',\r\n    '}'\r\n  )),\r\n  json(concat(\r\n    '{\"msdyn_subject\":\"', triggerBody()?['text_1'],\r\n    '\",\"msdyn_outlinelevel\":', string(triggerBody()?['number']),\r\n    ',\"msdyn_progress\":', string(triggerBody()?['number_1']),\r\n    ',\"', outputs('Compose_at_odata_type'), '\":\"Microsoft.Dynamics.CRM.msdyn_projecttask\"',\r\n    ',\"msdyn_project@odata.bind\":\"msdyn_projects(', variables('projectID'), ')\"',\r\n    ',\"msdyn_projectbucket@odata.bind\":\"msdyn_projectbuckets(', triggerBody()?['text_2'], ')\"',\r\n    ',\"msdyn_parenttask@odata.bind\":\"msdyn_projecttasks(', triggerBody()?['text_6'], ')\"',\r\n    '}'\r\n  ))\r\n)",
          "runAfter": {
            "Compose_at_odata_type": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a2e4c774-6b7b-4ee4-b90e-9f6f2a444542"
          }
        },
        "ComposeBaseTaskUpdate": {
          "type": "Compose",
          "inputs": "@if(\r\n  empty(triggerBody()?['text_6']),\r\n  if(\r\n    equals(triggerBody()?['text_8'], 'true'),\r\n    json(concat(\r\n      '{\"msdyn_subject\":\"', triggerBody()?['text_1'],\r\n      ',\"msdyn_progress\":', string(triggerBody()?['number_1']),\r\n      ',\"msdyn_description\":\"', triggerBody()?['text_7'], '\"',\r\n      ',\"', outputs('Compose_at_odata_type'), '\":\"Microsoft.Dynamics.CRM.msdyn_projecttask\"',\r\n      ',\"msdyn_projecttaskid\":\"', triggerBody()?['text_5'], '\"',\r\n      '}'\r\n    )),\r\n    json(concat(\r\n      '{\"msdyn_subject\":\"', triggerBody()?['text_1'],\r\n      ',\"msdyn_description\":\"', triggerBody()?['text_7'], '\"',\r\n      ',\"', outputs('Compose_at_odata_type'), '\":\"Microsoft.Dynamics.CRM.msdyn_projecttask\"',\r\n      ',\"msdyn_projecttaskid\":\"', triggerBody()?['text_5'], '\"',\r\n      '}'\r\n    ))\r\n  ),\r\n  if(\r\n    equals(triggerBody()?['text_8'], 'true'),\r\n    json(concat(\r\n      '{\"msdyn_subject\":\"', triggerBody()?['text_1'],\r\n      ',\"msdyn_progress\":', string(triggerBody()?['number_1']),\r\n      ',\"msdyn_description\":\"', triggerBody()?['text_7'], '\"',\r\n      ',\"', outputs('Compose_at_odata_type'), '\":\"Microsoft.Dynamics.CRM.msdyn_projecttask\"',\r\n      ',\"msdyn_projecttaskid\":\"', triggerBody()?['text_5'], '\"',\r\n      ',\"msdyn_parenttask@odata.bind\":\"msdyn_projecttasks(', triggerBody()?['text_6'], ')\"',\r\n      '}'\r\n    )),\r\n    json(concat(\r\n      '{\"msdyn_subject\":\"', triggerBody()?['text_1'],\r\n      ',\"msdyn_description\":\"', triggerBody()?['text_7'], '\"',\r\n      ',\"', outputs('Compose_at_odata_type'), '\":\"Microsoft.Dynamics.CRM.msdyn_projecttask\"',\r\n      ',\"msdyn_projecttaskid\":\"', triggerBody()?['text_5'], '\"',\r\n      ',\"msdyn_parenttask@odata.bind\":\"msdyn_projecttasks(', triggerBody()?['text_6'], ')\"',\r\n      '}'\r\n    ))\r\n  )\r\n)",
          "runAfter": {
            "ComposeBaseTaskCreate": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a7684276-5c99-4ec0-983f-5e671705dca3"
          }
        },
        "Condition_1": {
          "type": "If",
          "expression": {
            "and": [
              {
                "equals": [
                  "@empty(triggerBody()?['text_5'])",
                  true
                ]
              }
            ]
          },
          "actions": {
            "Project_Task_-_Subtask": {
              "type": "Scope",
              "actions": {
                "Call_PssCreateV1_-_Subtask_1": {
                  "type": "OpenApiConnection",
                  "description": "formatDateTime(UtcNow(),'yyyy-MM-ddT07:00:00Z') // addDays(formatDateTime(UtcNow(),'yyyy-MM-ddT15:00:00Z'), 1)",
                  "inputs": {
                    "parameters": {
                      "actionName": "msdyn_PssCreateV1",
                      "item/Entity": "@outputs('ComposeAddFinish')",
                      "item/OperationSetId": "@outputs('OperationSetId')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "PerformUnboundAction",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "e39bbf8b-9bfe-4e7a-bd39-31f6f52d9db9"
                  }
                },
                "Parse_JSON_-_Subtask_1": {
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@outputs('Call_PssCreateV1_-_Subtask_1')?['body/OperationSetResponse']",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "<OperationSetResponses>k__BackingField": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "Key": {
                                "type": "string"
                              },
                              "Value": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "Key",
                              "Value"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Call_PssCreateV1_-_Subtask_1": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "271cb342-4216-41ec-8da8-44f45e3e3fdc"
                  }
                },
                "Filter_array_-_Subtask_1": {
                  "type": "Query",
                  "inputs": {
                    "from": "@body('Parse_JSON_-_Subtask_1')?['<OperationSetResponses>k__BackingField']",
                    "where": "@equals(item()?['Key'], 'recordId')"
                  },
                  "runAfter": {
                    "Parse_JSON_-_Subtask_1": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "03344de3-147b-4766-b181-e3451fe7f175"
                  }
                },
                "msdyn_projecttaskid_-_Subtask_1": {
                  "type": "Compose",
                  "description": "last(body('Filter_array_-_Subtask_1'))?['value']",
                  "inputs": "@last(body('Filter_array_-_Subtask_1'))?['value']",
                  "runAfter": {
                    "Filter_array_-_Subtask_1": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b7cc4485-7334-42a3-9f2a-b149357fd165"
                  }
                }
              },
              "metadata": {
                "operationMetadataId": "c45a3d88-bf75-42f4-ac0f-1edccdd4b49b"
              }
            },
            "Call_AbandonOperationSetV1_-_Subtask": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "actionName": "msdyn_AbandonOperationSetV1",
                  "item/OperationSetId": "@outputs('OperationSetId')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "PerformUnboundAction",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Project_Task_-_Subtask": [
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "49f61d10-775a-4950-9b53-777897599db9"
              }
            },
            "Call_ExecuteOperationSetV1": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "actionName": "msdyn_ExecuteOperationSetV1",
                  "item/OperationSetId": "@outputs('OperationSetId')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "PerformUnboundAction",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Call_AbandonOperationSetV1_-_Subtask": [
                  "Skipped"
                ]
              },
              "metadata": {
                "operationMetadataId": "1794ec31-ad56-4f91-bba9-81edc135de41"
              }
            }
          },
          "else": {
            "actions": {
              "Update_Subtask_2": {
                "type": "Scope",
                "actions": {
                  "Call_PssUpdateV1_-_Subtask_2": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "actionName": "msdyn_PssUpdateV1",
                        "item/Entity": "@outputs('ComposeAddFinish')",
                        "item/OperationSetId": "@outputs('OperationSetId')"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "PerformUnboundAction",
                        "connectionName": "shared_commondataserviceforapps"
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "b65f4dc3-4bc3-49cd-a0a4-650d62167ab8"
                    }
                  }
                },
                "metadata": {
                  "operationMetadataId": "260f279f-d490-478f-8822-010d2d0f25d8"
                }
              },
              "Call_AbandonOperationSetV1_-_Subtask_2_update": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "actionName": "msdyn_AbandonOperationSetV1",
                    "item/OperationSetId": "@outputs('OperationSetId')"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                    "operationId": "PerformUnboundAction",
                    "connectionName": "shared_commondataserviceforapps"
                  }
                },
                "runAfter": {
                  "Update_Subtask_2": [
                    "Failed"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "49f61d10-775a-4950-9b53-777897599db9"
                }
              },
              "Call_ExecuteOperationSetV1_1": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "actionName": "msdyn_ExecuteOperationSetV1",
                    "item/OperationSetId": "@outputs('OperationSetId')"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                    "operationId": "PerformUnboundAction",
                    "connectionName": "shared_commondataserviceforapps"
                  }
                },
                "runAfter": {
                  "Call_AbandonOperationSetV1_-_Subtask_2_update": [
                    "Skipped"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "1794ec31-ad56-4f91-bba9-81edc135de41"
                }
              }
            }
          },
          "runAfter": {
            "ComposeAddFinish": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9d2e2903-5a27-43cf-8bd8-869184f5d212"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}